@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Roboto+Slab:wght@400&family=Viga&display=swap');
.App {
  text-align: center;
}
p{
  font-family: 'Nanum Myeongjo', serif;
}
h1{
  font-family: 'Viga', sans-serif;
}
h3{
  font-family: 'Roboto Slab', serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundImage {
  background-image: url('https://i.ibb.co/zNpkxG2/5651981.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.projectsBackgroundImage {
  background-image: url('https://i.ibb.co/jhctkyC/gray-abstract-wireframe-technology-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.project {
  background-image: url('https://i.ibb.co/JnQjRZy/v748-toon-103.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.menuHover:hover{
  background-color: #222f3e;
  color: #30e1fb;
  border-radius: 5px;
}
/* nav menu style */
.menu-4 {
  text-transform: uppercase;
  font-weight: 400;
}
.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 .nav-content {
  display: inline-block;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu-4 span {
  padding: 0.3em 0;
  color: #979797;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
}
.menu-4 span:before,
.menu-4 span:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 span:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: rgb(243, 59, 234);
}
.menu-4 span:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
}
.menu-4 .nav-content:hover span,
.menu-4 .current span {
  transform: translateY(100%);
}

/* Hero section style */
.animation-hero {
  text-transform: uppercase;
  font-weight: 400;
  
}
.animation-hero * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.animation-hero .header-content {
  display: inline-block;
  margin: 0 1.5em;
  overflow: hidden;
  width: 100%;
}
.animation-hero span {
  padding: 0.3em 0;
  color: #050505;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 700;
}
.animation-hero span:before,
.animation-hero span:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.animation-hero span:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #f33bea;
}
.animation-hero span:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #30e1fb;
  white-space: nowrap;
}
.animation-hero .header-content:hover span,
.animation-hero .current span {
  transform: translateY(100%);
}
.btn-hover:hover{
  background-color: rgb(243, 59, 234) ;
  border: none;
  color: aliceblue;
  transition: .6s;
}
.divider{
  background-color: #f33bea;
  height: 2px;
  
}
 /* Button Style */
 .btn-box{
  position: relative;
 }
 .btn-style {
  cursor: pointer;
  background-color: #30e1fb;
  width: 300px;
  height: 60px;
  line-height: 60px;
  position: absolute;


  z-index: 0;
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.34);
}
.btn-style span {
  color: #fff;
  display: block;
  padding-left: 35px;
  text-transform: uppercase;
  font: bold 18px/66px Arial;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}
.btn-style em {
  position: absolute;
  height: 1px;
  background: #fff;
  width: 47%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}
.btn-style:before,
.btn-style:after {
  content: '';
  background: #fff;
  height: 50%;
  width: 0;
  position: absolute;
  transition: .3s cubic-bezier(.785,.135,.15,.86);
}
.btn-style:before {
  top: 0;
  left: 0;
  right: auto;
}
.btn-style:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.btn-style:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.btn-style:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.btn-style:hover span {
  color: #000;
}
.btn-style:hover em {
  background: #000;
  transform: scaleX(1);
}

/* skill button */
.trapdoor {
  -webkit-transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
  width: 200px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3), inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -ms-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}
.trapdoor:hover {
  background: #fff;
}
.trapdoor:hover .door {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}
.trapdoor:hover .top {
  top: -50%;
}
.trapdoor:hover .bottom {
  top: 100%;
}
.trapdoor .twitter-follow-button {
  margin-left: -77px;
  position: absolute !important;
  margin-top: -14px;
  left: 50%;
  top: 50%;
}
.top {
  top: 0%;
  left: 0px;
}
.top:before {
  top: 5px;
}
.bottom {
  top: 50%;
  left: 0px;
}
.bottom:before {
  top: -20px;
}
.door {
  -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
  -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
  -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
  -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  height: 50%;
}
.door:before {
  font-family: 'tweet', sans-serif;
  position: absolute;
  margin-left: -20px;
  font-size: 35px;
  display: block;
  color: #4099FF;
  content: "\e000";
  width: 0px;
  height: 20px;
  left: 52%;
}
@font-face {
  font-family: 'tweet';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/tweet.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}